<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>MSCS Courses List</h1>
    <table>
        <thead>
            <tr>
                <th>Semester</th>
                <th>Course</th>
                <th>Instructor</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.semester }}</td>
                <td>{{ course.course }}</td>
                <td>{{ course.instructor }}</td>
                <td>{{ course.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>